$font: "Outfit", sans-serif;

$font-size-16: 16px;
$font-size-18: 18px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-10: 10px;
$font-size-8: 8px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;

$display1: 80px;
$display2: 48px;
$heading1: 40px;
$heading2: 32px;
$heading3: 24px;
$heading4: 20px;
$paragraph1: 18px;
$paragraph2: 16px;
$paragraph3: 14px;

$displayMob1: 56px;
$displayMob2: 32px;
$headingMob1: 32px;
$headingMob2: 22px;
$headingMob3: 18px;
$paragraphMob1: 16px;
$paragraphMob2: 12px;
$paragraphMob3: 8px;
